.articlePost {
  margin-inline: auto;
  margin-top: 25px;
  height: auto;
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 30px;
}

.articleListBody {
  margin-top: 25px;
}

.articleListDescription {
  padding-right: 0px;
  height: auto;
}

.articleListTitle {
  white-space: wrap;

  &:hover {
    text-decoration: none;
    cursor: auto;
  }
}

.articleListItem {
  display: grid; /* Добавьте display: grid, если это требуется */
  grid-template-columns: repeat(1, 1fr);
}
.Bottom {
  padding: 20px;
}
.changes {
  position: absolute;
  top: 170px;
  display: flex;
  gap: 12px;
}

.edit {
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
  width: 65px;
  border-radius: 5px;
  height: 32px;
  background: var(--background);
}
