$color-background: #ffffff;
$color-border: #d9d9d9;
$color-shadow: rgba(0, 0, 0, 0.07);
$font-family: "Roboto", sans-serif;
$color-primary-dark: #262626;
$color-primary: #1890ff;
.profile {
  width: 384px;
  height: auto;
  margin: 60px auto 0;
  background: $color-background;
  border: 1px solid $color-border;
  border-radius: 6px;
  box-shadow: 0px 22px 106px $color-shadow;
  padding-bottom: 48px;
  &__title {
    margin-top: 48px;
    text-align: center;
    font-family: $font-family;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: $color-primary-dark;
  }
  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-inline: auto;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  &__input {
    width: 320px;
    height: 40px;
    margin-inline: auto;
    padding: 8px 12px;
    border: 1px solid $color-border;
    border-radius: 4px;
  }
  &__button {
    width: 319px;
    height: 40px;
    margin: 20px auto 0;
    border-radius: 5px;
    background: $color-primary;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }
  &__error {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgba(245, 34, 45, 1);
  }
  &__server-error {
    top: 300px;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 35%;
    align-items: center;
  }
  .error {
    border-color: rgba(245, 34, 45, 1);
  }
}
