$font-family: "Roboto", sans-serif;
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 384px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 120px auto 0;
  background: #fff;
  box-shadow: 0px 22px 106px 0px rgba(0, 0, 0, 0.07);

  border-radius: 6px;
  &__greatings {
    font-family: $font-family;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
  }
  &__button {
    width: 319px;
    height: 40px;
    margin: 20px auto 0;
    border-radius: 5px;
    background: #1890ff;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }
}
